* {
    margin: 0;
  }
  
  body {
    overflow: hidden;
  }
  
  .stats {
    z-index: 9999;
    background-color: red;
  }
  
  .container {
    width: calc(100% - 40px);
    padding: 20px;
  }
  
  .cell {
    background-color: #999;
    cursor: pointer;
  }
  
  .cell div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    border: 3px solid;
  }
  